* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.section-title {
    color: rgb(28, 39, 76);
}