{% extends '../layouts/base.html' %}
{% load static %}

{% block title %}Crear nuevo usuario{% endblock title %}

{% block content %}

<div class="container mt-4 mb-4">
    <div class="card ">
        <form class="form" action="{% url 'home:user_store' %}" method="POST">
        {% csrf_token %}
        <div class="card-header d-flex justify-content-between align-items-center bg-secondary bg-opacity-25">
            <h1 class="align-middle section-title"><img class="m-0 py-0" src="{% static 'users-icon.svg'%}" width="40" height="40">Crear nuevo usuario</h1>
        </div>
        <div class="card-body bg-opacity-25 p-4">
                {{ user_form.as_p }}
            </div>
            <div class="card-footer">
                <button class="btn btn-primary" type="submit">Enviar</button>
            </div>
        </form>
    </div>
</div>



{% endblock content %}